.about {
    display: flex;
    justify-content: center;
}

.about__container {
    display: block;
    align-items: center;
    justify-content: center;
    margin: 5rem 0;
    max-width: auto;
    height: auto;

    color: var(--letter-color);
    font-family: var(--font-family);
}

.about__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about__container-info {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 3rem 5rem;
    max-width: 1000px;
}

.about__container-personal_data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__text {
    text-align: justify;
    margin-right: 4rem;
    font-size: var(--font-text-size);
}

.about__text span {
    color: var(--third-color);
}

