.about__container-img {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.about__img {
    width: 250px;
    z-index: 1;
    border-radius: var(--border-radius);
    box-shadow:var(--background-color) 15px 15px 0px 2px, var(--third-color) 15px 15px 0px 4px ;
}