.work {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
}

.work__container {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    height: auto;
    font-family: var(--font-family);
    color: var(--secondary-color-dark);
}

.work__title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work__container-projects {
    display: flex;
    margin: 3rem 0;
}