@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500&display=swap');
:root {
    --font-family: 'Roboto', sans-serif;
    
    --font-size-titles: 56px;
    --font-size-subtitles: 24px;
    --font-size-navbar: 18px;
    --font-size-text: 16px;
    
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;

    --line-spacing: 1.75;

    --primary-color: #F1FAEE;
    --secondary-color-dark: #1D3557;
    --secondary-color-light: #457B9D;
    --third-color: #A8DADC;
    --detail-color: #E63946;

    --border-radius: 8px;
    --button-border-size: 2px; 

}