@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root {
    --font-family: 'Roboto', sans-serif;
    
    --font-size-titles: 32px;
    --font-size-subtitles: 24px;
    --font-size-navbar: 18px;
    --font-size-text: 14px;

    --bg-color: rgb(28, 30, 49);
}