button {
    padding: 1rem 1.5rem;
    font-family: var(--font-family);
    color: var(--letter-color);
    text-transform: capitalize;
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-regular);

    background-color: transparent;
    border: solid var(--detail-color);
    border-radius: var(--border-radius);
    border-width: 0.15rem;

    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: var(--third-color);
}