.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__container {
    display: block;
    margin: 5rem;
    max-width: 800px;
    text-align: center;
    font-family: var(--font-family);
    font-size: var(--font-size-text);
    font-weight: var(--font-weight-regular);
    color: var(--secondary-color-dark);
}

.contact__title {
    margin-bottom: 3rem;
}

.contact__description {
    margin-bottom: 1rem;
}