.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__container {
    display: block;
    margin: 5rem;
    max-width: var(--max-width);
    text-align: center;
    font-family: var(--font-family);
    color: var(--letter-color);
}

.contact__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__description {
    margin: 3rem;
    font-size: var(--font-text-size);
    font-weight: var(--font-weight-regular);
}