.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--secondary-color-dark);
}

.footer__container {
    display: block;
    margin: 1rem;
    font-family: var(--font-family);
    color: var(--primary-color);
}

.footer__container-logos{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    scale: 1.25;
}

.footer__logo {
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.2s;
}

.footer__logo:hover {
    color: var(--third-color);
}
